.searchContainer {
  box-shadow: none !important;
  margin-bottom: 16px !important;

  .tilteContainer {
    padding: 0 !important;
  }

  .searchTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    :global(.MuiButton-root) {
      width: 160px;
      height: 28px;
    }
  }
  :global(.MuiAccordionSummary-root) {
    min-height: unset !important;
    width: 100px;
  }
  :global(.MuiAccordionSummary-content) {
    margin: 0 !important;
  }

  :global(.MuiAccordionDetails-root) {
    padding: 16px 0 0 0 !important;
  }
}
